<p-toast></p-toast>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog> 

<div class="container">
    <h2> <i class="pi pi-user-plus"></i> Ingrese un nuevo Municipio </h2>
    <br>
    <div class="container">
        <p-accordion>
            <p-accordionTab header="Nuevo Municipio">
                <div class="container-form">
                    <form id="crearPerito">
                        <div class="row">

                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Nombre Municipio</label>
                                    <input type="text" class="form-control" aria-describedby="nombre"
                                        name="nombre" [(ngModel)]="nuevoPerito.nombre" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Id Departamento</label>
                                    <br>
                                    <p-dropdown id="id_departamento" name="id_departamento" optionValue="departamento_id"
                                        [options]="departamentoList" [(ngModel)]="nuevoPerito.id_departamento" optionLabel="nombre"
                                        aria-required="true">
                                    </p-dropdown>
                                    <!-- <input type="number" class="form-control" aria-describedby="codigo"
                                        name="codigo" [(ngModel)]="nuevoPerito.id_departamento" required> -->
                                </div>
                            </div>
                        </div>


                    </form>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" (click)="registrarPerito()" class="btn btn-primary">Registrar Municipio</button>
                        </div>
                    </div>
                </div>
            </p-accordionTab>
        </p-accordion>
    </div>
    <hr>
    <br>
</div>
<div class="container">
    <h2> Todos los Municipio </h2>
    <br>
    <p-table [value]="peritos" [scrollable]="true" scrollHeight="400px">
        <ng-template pTemplate="header">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Departamento</th>
                <th> Menú</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-peritos>
            <tr [pReorderableRow]="peritos.municipio_id">
                <td>{{peritos.municipio_id}}</td>
                <td>{{peritos.nombre}}</td>
                <td>{{peritos.departemento_id.nombre}}</td>
                <td>
                    <div class="col-md-6">
                        <p-button icon="pi pi-pencil" (onClick)="modificarPerito(peritos)"
                            styleClass="p-button-warning"></p-button>
                    </div>
                    <div class="col-md-6">
                        <p-button icon="pi pi-trash" (onClick)="eliminarPerito(peritos._id)"
                            styleClass="p-button-danger"></p-button>
                    </div>
                </td>

            </tr>
        </ng-template>
    </p-table>
</div>
<br>
<br>