.container-form {
    background-color: rgb(0, 67, 121);
    color: white;
    font-family: 'Viga', sans-serif;
    font-size: 1.2vw;
    padding: 5%;
    margin: 0%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #04a7cb;
}

.form-control:hover{
    box-shadow: 5px 5px 5px 5px #04a7cb
}